amqp==1.4.8
anyjson==0.3.3
billiard==3.3.0.21
boto==2.38.0
celery==3.1.19
dj-database-url==0.3.0
Django==1.9
django-appconf==1.0.1
django-ckeditor==5.0.2
django-cors-headers==1.1.0
-e git+https://github.com/yuvadm/django-geoposition@ab2076aa7478030e8c4a53bec69e14e2da6c1f14#egg=django_geoposition
django-guardian==1.3.2
django-redis-cache==1.6.3
-e git+https://github.com/yuvadm/django-s3direct@20d02eef92d458dac890f1ab814ca146f2bd1853#egg=django_s3direct
django-safedelete==0.3.1
django-storages-redux==1.3
djangorestframework==3.3.2
djangorestframework-csv==1.3.4
gunicorn==19.3.0
hiredis==0.2.0
kombu==3.0.32
Pillow==3.1.0
psycopg2==2.6.1
pytz==2015.7
raven==5.8.1
redis==2.10.5
requests==2.9.1
six==1.10.0
wheel==0.26.0
whitenoise==2.0.4
